<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.core.javaFormatter">
      <javaFormatter
            class="org.eclipse.jdt.luna.formatter.DefaultCodeFormatter"
            id="LunaJavaFormatter.javaFormatter"
            name="Luna Java Formatter">
      </javaFormatter>
   </extension>

</plugin>
